<?xml version="1.0" encoding="UTF-8"?>
<!-- The phpunit.xml file we created is used to give PHPUnit an overview of what our test configuration is like -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- By using such parameters, you can develop your application to work specifically for the test environment -->
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>